//-----------------------------------------------------------------------------
// Images
$sprite: "../images/sprite.png";

//-----------------------------------------------------------------------------
// Fonts
$sans: "TDCRegular", Helvetica, Arial, sans-serif;
$sans-light: "TDCLight", Helvetica, Arial, sans-serif;

// Colours
//-----------------------------------------------------------------------------

// Site base colors
$white: #fff;
$black: #000;

// Orange
$green: #7a9c42;

// Green
$coldGreen: #87c6c9;
$coldGreenDark: #67a8ac;

// Blue
$blue: #2d3339;
$extraDarkBlue: #0d3a68;
$darkBlue: #0d3a68;
$trueBlue: #3a63a8;
$middleBlue: #0065aa;

$contrastBlue: #2262a8;

// Gray
$gray: #96999c;
$soft-gray: #f2f2f3;
$light-gray: #e6e8ea;

$darkGray: #272c31;
